# Files and directories created by pub
.packages
.pub/
build/
pubspec.lock # (Remove this pattern if you wish to check in your lock file)

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
